* {
  font-family: 'Comic Neue', cursive;
  font-weight: bold;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1vw;
  font-family: 'Inconsolata', monospace;
}

button {
  font-size: 20px;
  margin: 10px auto;
  padding: 5px;
  background-color: white;
  border: 3px solid black;
}

input {
  font-size: 20px;
}

.main-Container {
  max-width: 50%;
  margin: auto;
}

.all-books {
  font-size: 30px;
  margin: 20px;
}

.book {
  padding: 30px;
  font-size: 25px;
}

.book:nth-child(odd) {
  background: lightgrey;
}

.main-title {
  text-align: center;
  margin: 40px;
}

.listShow {
  border: 5px solid black;
  padding: 20px;
  position: relative;
}

.horizontal-line {
  max-width: 25%;
  margin: auto;
  border-top: 4px solid black;
  margin-top: 50px;
}

.remove-button {
  position: absolute;
  right: 30px;
  border: 4px solid #000;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  box-shadow: 4px 4px #000;
}

.add-title {
  margin: 50px auto 25px auto;
}

.add {
  margin-top: 10px;
  width: 80px;
  height: 30px;
  float: right;
  border: 4px solid #000;
  background-color: #fff;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 4px 4px #000;
}

.add-books {
  display: block;
  justify-content: center;
  align-items: center;
}

.add-books h4 {
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-weight: 700;
  padding-top: 10px;
}

.input-book {
  display: flex;
  justify-content: center;
}

::placeholder {
  color: rgb(82, 82, 82);
  padding-left: 5px;
}

.author {
  border: 4px solid #000;
  margin-top: 10px;
  font-size: 20px;
  background-color: #fff;
  font-weight: 700;
  height: 35px;
}

.title {
  border: 4px solid #000;
  font-size: 20px;
  background-color: #fff;
  font-weight: 700;
  height: 35px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  border: black 3px solid;
  width: 100%;
}

.nav-title {
  padding-left: 5px;
}

.nav-title h2 {
  margin: 0;
}

.nav-links {
  display: flex;
  align-items: center;
}

.link-container {
  padding: 0 20px;
}

.link-border {
  border-right: black 3px solid;
}

.nav-link-item {
  margin: 10px;
}
