* {
  font-family: 'montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1vw;
  font-family: sans-serif;
}

.main-Container {
  max-width: 35%;
  margin: auto;
}
